
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
  
    <body style="background-image:url(../../neptuno2.jpg); background-repeat:no-repeat; background-attachment: fixed">

    <center>
        <MARQUEE BGCOLOR="#32CD32">
            <FONT FACE="arial" SIZE=20 COLOR=white>Visita Nuevo Leon</FONT>
        </MARQUEE>
        <p>
            <img src="~/Logo.jpg">
        </p>
    </center>
    <MARQUEE BGCOLOR="#32CD32">Selecciona El Municipio Que Deseas Visitar</MARQUEE>

        <ul >
            <li> @Html.ActionLink("Abasolo", "Index", "Abasolo")</li>
            <li>
                @Html.ActionLink("Agualeguas", "Index", "Agualeguas")
            </li>
            <li>
                @Html.ActionLink("Allende", "Index", "Allende")
            </li>
            <li>
                @Html.ActionLink("Anahuac", "Index", "Anahuac")
            </li>
            <li>
                @Html.ActionLink("Apodaca", "Index", "Apodaca")
            </li>
            <li>
                @Html.ActionLink("Arramberri", "Index", "Arramberri")
            </li>
            <li>
                @Html.ActionLink("Bustamante", "Index", "Bustamante")
            </li>
            <li>
                @Html.ActionLink("Cadereyta", "Index", "CadereytaJimenez")
            </li>
            <li>
                @Html.ActionLink("Carmen", "Index", "Carmen")
            </li>
            <li>
                @Html.ActionLink("Cerralvo", "Index", "Cerralvo")
            </li>
            <li>
                @Html.ActionLink("China", "Index", "China")
            </li>
            <li>
                @Html.ActionLink("Cienega de Flores", "Index", "CienegaDeFlores")
            </li>
            <li>
                @Html.ActionLink("Doctor Arroyo", "Index", "DoctorArroyo")
            </li>
            <li>
                @Html.ActionLink("Doctor Coss", "Index", "DoctorCoss")
            </li>
            <li>
                @Html.ActionLink("Doctor Gonzales", "Index", "DoctorGonzales")
            </li>
            <li>

                @Html.ActionLink("Galeana", "Index", "Galeana")
            </li>
            <li>
                @Html.ActionLink("Garcia", "Index", "Garcia")
            </li>
            <li>
                @Html.ActionLink("General Bravo", "Index", "GeneralBravo")
            </li>
            <li>
                @Html.ActionLink("General Escobedo", "Index", "GeneralEscobedo")
            </li>
            <li>
                @Html.ActionLink("General Teran", "Index", "GeneralTeran")
            </li>  <li>
                @Html.ActionLink("General Treviño", "Index", "GeneralTreviño")
            </li> <li>
                @Html.ActionLink("General Zaragoza", "Index", "GeneralZaragoza")
            </li>        <li>
                @Html.ActionLink("General Zuazua", "Index", "GeneralZuazua")
            </li>        <li>
                @Html.ActionLink("Guadalupe", "Index", "Guadalupe")
            </li><li>
                @Html.ActionLink("Hidalgo", "Index", "Hidalgo")
            </li><li>
                @Html.ActionLink("Higueras", "Index", "Higueras")
            </li>
                <li>
                        @Html.ActionLink("Hualahuises", "Index", "Hualahuises")
                </li>
                <li>
                        @Html.ActionLink("Iturbide", "Index", "Iturbide")
                </li>
                <li>
                        @Html.ActionLink("Juarez", "Index", "Juarez")
                </li>
                <li>
                        @Html.ActionLink("Lampazos del Naranjo", "Index", "LampazosDelNaranjo")
                </li>
                <li>@Html.ActionLink("Linares", "Index", "Linares")
                </li>
                <li>
                        @Html.ActionLink("Los Aldamas", "Index", "LosAldamas")
                </li>
                <li>
                        @Html.ActionLink("Los Herreras", "Index", "LosHerreras")
                </li>
                <li>
                        @Html.ActionLink("Los Ramones", "Index", "LosRamone")
                </li>
                <li>
                        @Html.ActionLink("Marin", "Index", "Marin")
                </li>
                <li>
                    
                        @Html.ActionLink("Melchor Ocampo", "Index", "MelchorOcampo")
                   
                </li>
                <li>
                    
                        @Html.ActionLink("Mier y Noriega", "Index", "MierYNoriega")
                    
                </li>
                <li>
                   
                        @Html.ActionLink("Mina", "Index", "Mina")
                   
                </li>
                <li>
                    
                        @Html.ActionLink("Montemorelos", "Index", "Montemorelos")
                    
                </li>
                <li>
                    
                        @Html.ActionLink("Monterrey", "Index", "Monterrey")
                    
                </li>
                <li>
                    
                        @Html.ActionLink("Paras", "Index", "Paras")
                   
                </li>
                <li>
                    
                        @Html.ActionLink("Pesqueria", "Index", "Pesqueria")
                </li>
                <li>
                        @Html.ActionLink("Rayones", "Index", "Rayones")
                </li>
                <li>
                    
                        @Html.ActionLink("Sabinas Hidalgo", "Index", "SabinasHidalgo")
                   
                </li>
                <li>
                    
                        @Html.ActionLink("Salinas Victoria", "Index", "SalinasVictoria")
                    
                </li>
                <li>
                    
                        @Html.ActionLink("San Nicolas de los Garza", "Index", "SanNicolasDeLosGarza")
                   
                </li>
                <li>
                    
                        @Html.ActionLink("San Pedro Garza Garcia", "Index", "SanPedroGarzaGarcia")
                    
                </li>
                <li>
                    
                        @Html.ActionLink("Santa Catarina", "Index", "SantaCatarina")
                    
                </li>
                <li>
                        @Html.ActionLink("Santiago", "Index", "Santiago")
                    
                </li>
                <li>
                    
                        @Html.ActionLink("Vallecillo", "Index", "Vallecillo")
                    
                </li>
                <li>
                    
                        @Html.ActionLink("Villaldama", "Index", "Villaldama")
                   
                </li>
            
</ul>
        <center>
            <audio src="~/Corrido de Monterrey - La Sultana del Norte ..mp3" controls></audio>
            <a href="~/Views/abasolo.cshtml"></a>
        </center>
</body>
