<html>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
  
    <body style="background-image:url(../../neptuno2.jpg); background-repeat:no-repeat; background-attachment: fixed">
     
        <center>
            <MARQUEE BGCOLOR="#32CD32">
                <FONT FACE="arial" SIZE=20 COLOR=white>Visita Nuevo Leon</FONT>
                </MARQUEE>
                <p>
                    <img src="~/Logo.jpg">
                </p>
</center>
        <p>
            <br />Escucha la musica de monterrey
        </p>
        <audio src="~/Corrido de Monterrey - La Sultana del Norte ..mp3" controls></audio>
        
        
        
        
        <MARQUEE BGCOLOR="#32CD32">Selecciona El Municipio Que Deseas Visitar</MARQUEE>
        
            <p>@Html.ActionLink("Abasolo", "Index", "Abasolo")</p>
            <p>@Html.ActionLink("Agualeguas", "Index", "Agualeguas") </p>
            <p>@Html.ActionLink("Allende", "Index", "Allende") </p>
            <p>@Html.ActionLink("Anahuac", "Index", "Anahuac") </p>
            <p>@Html.ActionLink("Apodaca", "Index", "Apodaca") </p>
            <p>@Html.ActionLink("Arramberri", "Index", "Arramberri") </p>
            <p>@Html.ActionLink("Bustamante", "Index", "Bustamante") </p>
            <p>@Html.ActionLink("Cadereyta", "Index", "CadereytaJimenez") </p>
            <p>@Html.ActionLink("Carmen", "Index", "Carmen") </p>
            <p>@Html.ActionLink("Cerralvo", "Index", "Cerralvo") </p>
            <p>@Html.ActionLink("China", "Index", "China") </p>
            <p>@Html.ActionLink("Cienega de Flores", "Index", "CienegaDeFlores") </p>
            <p>@Html.ActionLink("Doctor Arroyo", "Index", "DoctorArroyo") </p>
            <p>@Html.ActionLink("Doctor Coss", "Index", "DoctorCoss") </p>
            <p>@Html.ActionLink("Doctor Gonzales", "Index", "DoctorGonzales") </p>
            <p>@Html.ActionLink("Galeana", "Index", "Galeana") </p>
            <p>@Html.ActionLink("Garcia", "Index", "Garcia") </p>
            <p>@Html.ActionLink("General Bravo", "Index", "GeneralBravo") </p>
            <p>@Html.ActionLink("General Escobedo", "Index", "GeneralEscobedo") </p>
            <p>@Html.ActionLink("General Teran", "Index", "GeneralTeran") </p>
            <p>@Html.ActionLink("General Treviño", "Index", "GeneralTreviño") </p>
            <p>@Html.ActionLink("General Zaragoza", "Index", "GeneralZaragoza")</p>
            <p>@Html.ActionLink("General Zuazua", "Index", "GeneralZuazua") </p>
            <p>@Html.ActionLink("Guadalupe", "Index", "Guadalupe") </p>
            <p>@Html.ActionLink("Hidalgo", "Index", "Hidalgo") </p>
            <p>@Html.ActionLink("Higueras", "Index", "Higueras") </p>
            <p>@Html.ActionLink("Hualahuises", "Index", "Hualahuises") </p>
            <p>@Html.ActionLink("Iturbide", "Index", "Iturbide") </p>
            <p>@Html.ActionLink("Juarez", "Index", "Juarez") </p>
            <p>@Html.ActionLink("Lampazos del Naranjo", "Index", "LampazosDelNaranjo") </p>
            <p>@Html.ActionLink("Linares", "Index", "Linares") </p>
            <p>@Html.ActionLink("Los Aldamas", "Index", "LosAldamas") </p>
            <p>@Html.ActionLink("Los Herreras", "Index", "LosHerreras") </p>
            <p>@Html.ActionLink("Los Ramones", "Index", "LosRamones") </p>
            <p>@Html.ActionLink("Marin", "Index", "Marin")</p>
            <p>@Html.ActionLink("Melchor Ocampo", "Index", "MelchorOcampo") </p>
            <p>@Html.ActionLink("Mier y Noriega", "Index", "MierYNoriega") </p>
            <p>@Html.ActionLink("Mina", "Index", "Mina") </p>
            <p>@Html.ActionLink("Montemorelos", "Index", "Montemorelos") </p>
            <p>@Html.ActionLink("Monterrey", "Index", "Monterrey") </p>
            <p>@Html.ActionLink("Paras", "Index", "Paras")</p>
            <p>@Html.ActionLink("Pesqueria", "Index", "Pesqueria") </p>
            <p>@Html.ActionLink("Rayones", "Index", "Rayones")</p>
            <p>@Html.ActionLink("Sabinas Hidalgo", "Index", "SabinasHidalgo") </p>
            <p>@Html.ActionLink("Salinas Victoria", "Index", "SalinasVictoria") </p>
            <p>@Html.ActionLink("San Nicolas de los Garza", "Index", "SanNicolasDeLosGarza") </p>
            <p>@Html.ActionLink("San Pedro Garza Garcia", "Index", "SanPedroGarzaGarcia") </p>
            <p>@Html.ActionLink("Santa Catarina", "Index", "SantaCatarina") </p>
            <p>@Html.ActionLink("Santiago", "Index", "Santiago") </p>
            <p>@Html.ActionLink("Vallecillo", "Index", "Vallecillo") </p>
            <p>@Html.ActionLink("Villaldama", "Index", "Villaldama") </p>
        
        
      
        
        
    </body>
</html>